{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
<title>Car Gallory</title>
{% endblock %}


{% block body %}

{% if messages %}
{% for msg in messages %}
<div style="width: 50%; margin: auto;" class="bg-success p-3 mt-2">
    <h3 class="text-white text-center">{{msg}}</h3>
</div>
{% endfor %}
{% endif %}

<form method="post" style="width: 50%; margin: auto;" novalidate class="mt-5">
    <h2>Login Form</h2>
    <hr style="border-top: 1px solid black;">
    {% csrf_token %}
    <!-- {{form | crispy}} -->
     {% for fm in form %}
     {{fm.label_tag}}
     {{fm}}
     <h6 class="text-danger">{{fm.errors | striptags}}</h6>
     <br>
     {% endfor %}
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}